body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.add-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.title-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

.input-txt {
  width: 300px;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  transition: height 0.2s ease;
}

.add-btn {
  margin-top: 10px;
  padding: 10px 20px;
  border: black 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
  max-width: 900px;
}

.note {
  position: relative;
  background-color: lightblue;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.delete-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
}
