<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Style_1.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <header>Holy Grail Layout Demo</header>

      <div class="mid-row">
        <div class="nav-bar">
          <h3>Navigation</h3>
          <ul>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Portfolio</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
          </ul>
        </div>

        <div class="main-content">
          <div class="top-content">
            <h2>Welcome to the Holy Grail Layout</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
              fugit temporibus officia. Veritatis beatae nihil consectetur
              debitis quae pariatur facere, reiciendis mollitia nostrum modi
              nisi, officia possimus quaerat velit id commodi alias odit
              repellat nam in nulla doloribus. Ut voluptas ipsam sapiente!
            </p>
          </div>
          <div class="content-block">
            <h3>Key Features</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
              corporis aspernatur quasi nesciunt vitae, nemo velit officiis
              fuga. Dolorum, ducimus.
            </p>
          </div>
        </div>

        <div class="side-bar">
          <h3>Sidebar</h3>
          <div class="content-block">
            <h4>Quick info</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
              obcaecati cupiditate eligendi!
            </p>
          </div>

          <div class="content-block">
            <h4>Latest News</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
              obcaecati cupiditate eligendi!
            </p>
          </div>
        </div>
      </div>

      <footer>
        <div class="footer-content">
          <span class=""
            >© 2025 Holy Grail Layout Demo. Built with CSS Flexbox</span
          >
          <div class="tags-row">
            <span>Privacy Policy</span>
            <span>Terms of Service</span>
            <span>Support</span>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
