h1{
      font-family: Georgia;
      color:khaki;
      font-size:50px;
}

h2{
      font-family: Verdana;
      color:rgb(247, 57, 221);
      font-size:40px;
}

h3{
      font-family: Lucida Handwriting;
      color:rgb(69, 128, 255) ;
      font-size:30px;
}