body {
  margin: 0;
  padding: 0;
}


.flexbox-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    border: 5px solid #f08080;
    align-items: center;
    background-color: white;
}

.flexbox-item1{
  display: flex;                
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 80%;
  padding: 60px 0;
}

.circle{
    background-color: #f08080;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-bottom: 30px;

}

.random-text{
    color:#7193a9;
    text-align: center;
    max-width: 600px;
    line-height: 1.5;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: #f08080;
  margin: 60px 0;
}

.flexbox-item2{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}

.bar{
  background-color: #f08080;
  height: 15px;  
}

.bar1 {
  width: 65px;
  background-color: #f08080;
}

.right-bars {
  display: flex;
  gap: 15px;
}



.bar2,
.bar3,
.bar4 {
  width: 65px;
  background-color: #f08080;
}