body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:cornsilk;
}

.text{
    padding: 5%;
}


@media (min-width: 900px){
    header{
        font-size: 48px;
    }
    p{
        font-size: 18px;
    }
}

@media (min-width: 600px) and (max-width: 900px){
    header{
        font-size: 36px;
    }
    p{
        font-size: 16px;
    }
}

@media (max-width: 600px){
    header{
        font-size: 24px;
    }
    p{
        font-size: 14px;
    }
}